<%= render "uppercontent" %>

<% if @kanjis.present? %>
<hr>
<table class="table table-striped table-hover table-wrap pb-10">
  <thead>
    <tr>
      <th style="width: 20%;">Kanji</th>
      <th style="width: 20%;">Entry</th>
      <th style="width: 20%;">Frame number</th>
      <th style="width: 20%;">Radicals</th>
      <th style="width: 20%; text-align: right"><a href="#" id="copy-all-link">Copy All Rows</a> <!-- Link to copy all rows --></th>
    </tr>
  </thead>

  <tbody id="kanjis">
    <% @kanjis.each do |kanji| %>
      <%= render kanji %>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>No kanji found.</p>
<% end %>


<script>
  $(document).ready(function() {
    $('#kanji_form').submit(function() {
      var sentence = $('#sentence_input').val().trim();
      $('#sentence_input').val(sentence);
    });
  });

    $('#copy-all-link').click(function() {
      var allRowsContent = '';
      $('#kanjis tr').each(function(index) {
        var rowData = $(this).find('td:not(:last-child)').map(function() {
          return $(this).text().trim();
        }).get().join(' | '); // Joining each column content with '|'
        
        allRowsContent += rowData + '\n'; // Adding newline after each row content
      });

      var tempElement = $('<textarea>'); // Create a temporary textarea to copy content to clipboard
      $('body').append(tempElement);
      tempElement.val(allRowsContent).select();
      document.execCommand('copy');
      tempElement.remove();

      alert('All rows copied to clipboard!');
    });
</script>