<%= render "uppercontent" %>

<% if @kanjis.present? %>
<hr>
<table class="table table-striped table-hover table-wrap pb-10">
  <thead>
    <tr>
      <th style="width: 20%;">Kanji</th>
      <th style="width: 20%;">Entry</th>
      <th style="width: 20%;">Frame number</th>
      <th style="width: 20%;">Radicals</th>
      <th style="width: 20%; text-align: right"><a href="#" id="copy-all-link">Copy All Rows</a> <!-- Link to copy all rows --></th>
    </tr>
  </thead>

  <tbody id="kanjis">
    <% @kanjis.each do |kanji| %>
      <%= render kanji %>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>No kanji found.</p>
<% end %>

<%= javascript_include_tag 'views/kanjis/search' %>