  <footer>
    <div class=" d-flex justify-content-center">
      <div class="pl-2">
        <a href="https://github.com/your_username">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </footer>